body{
    background-color: #F5F5F5;
    margin-left: 0.0em;
}

.frm{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);
}

#won ,#kw{
    border-bottom: 1px solid #777;
    border-top: 0;
    border-left: 0;
    border-right: 0;
	outline: none;
}

#won:focus ,#kw:focus{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #2e6da4;
}

.aptguide{
	padding-bottom: 4.5rem;
}

/* Icon when the collapsible content is shown */
.unit:after {
	font-family: "Glyphicons Halflings";
	content: "\e114";
	margin-left: 15px;
}

/* Icon when the collapsible content is hidden */
.unit.collapsed:after {
	font-family: "Glyphicons Halflings";
	content: "\e113";
}

.unit_after.collapsed:after{
	font-family: "Glyphicons Halflings";
	color: #2E7D32;
}



.pricingtabs ul.nav-tabs.nav-justified{
  padding: 0.0em;
  position: relative;
  text-align:center;
  border-bottom: 1px solid #ddd;
}

.pricingtabs ul.nav-tabs.nav-justified li {
  margin-bottom: none;
  position: initial;
  border-bottom: 0px solid;
  display:inline-block;
  *display:inline; /* ie7 fix */
   zoom:1; /* hasLayout ie7 trigger */
  width: 45%;
}

.pricingtabs ul.nav-tabs.nav-justified li a {
  position: initial;
  border-bottom: 0px solid;
  background: transparent;
  border: none;
  color: gray;
}

.pricingtabs ul.nav-tabs.nav-justified> li.active > a,
.pricingtabs ul.nav-tabs.nav-justified> li.active > a:focus,
.pricingtabs ul.nav-tabs.nav-justified> li.active > a:hover{
  border-width: 0;
  border: 0px;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
  background: #f5f5f5;
}

.pricingtabs.nav-tabs > li > a:hover {
  background: transparent;
}

.pricing {
  font-size: 0.9em;
}

.pricing thead th:nth-child(1)
,.pricing tbody th:nth-child(2)
,.pricing tbody td:nth-child(2){
  border-right:1px solid #eee;
}

.apt ul.nav-tabs.nav-justified li {
  margin-bottom: none;
  position: initial;
  border-bottom: 0px solid;
  display: inline-block;
  zoom: 1;
  width: 32%;
}

.apt .tab-content{
  margin-top: 5%;
}

.welfaregroup > .panel > .panel-heading > .panel-title {
    margin-top: -3px;
    margin-bottom: -4px;
    font-size: 15px;
    color: inherit;
}

@media only screen and (min-width: 320px) and (max-width: 359px) { 
	.page_frame{
	    background-color: #ffffff;
	    margin-top: 0.0rem;
	    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 0px 8px rgba(0,0,0,0.24);
	    padding-top: 1.5em;
	    padding-bottom: 1.5em;
	}

	.page_frame h3{
	    padding-top: 0px;
	}

	.page_title{
	    color: white;
	    background-color: #1c8e21;
	    height: 40px;
	    margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-radius: 0px;
  	  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 5px rgba(0,0,0,0.24);
  	    border: 1px solid rgba(0,0,0,.075);
	}

	.page_title h4{
	    margin-top: 11px;
	}

	.slide_page > .slide_header h5{
	    line-height: 1.3em;
	    text-align: center;
	    font-size: 1.00em;
	    font-weight: 300;
	    margin-top: 2rem;
	    word-break: keep-all;
	    margin-bottom: -2.5rem;
	}

	.slide_header{
	    margin-top: -0.5em;
	}

	.slide_header_hr{
		margin-top: 15px;
	}

	.form-group{
		background-color: white;
	}

	.form-group .control-label{
	    margin-top: 0.5em;
	}

	.form-horizontal hr{
    }

    .slide_body_hr{
	    margin-top: -0.5em;
	    margin-bottom: -0.5em;
    }

	.house{
	    margin-top: -10px;
	    margin-bottom: 15px;
	}

	.family{
	    margin-top: -10px;
	    margin-bottom: -5px;	
	}

	.resultTable{
		font-size: 1.25rem;
	}

	.aptguide{
		padding-bottom: 4.5rem;
	}
}

 /*Mobile Device (col-xs) 360 | 375 | 414 */
@media only screen and (min-width: 360px) and (max-width: 399px) {
	.page_frame{
	    background-color: #ffffff;
	    margin-top: 3.0rem;
	    box-shadow: 0 8px 13px rgba(0,0,0,0.12), 0 0px 20px rgba(0,0,0,0.24);
	    padding-top: 1.5em;
	    padding-bottom: 1.5em;
	}

	.page_frame h3{
        padding-top: 0.5em;
	}

	.page_title{
        height: 42px;
	    color: white;
	    background-color: #1c8e21;
	    margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-radius: 0px;
  	  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	    border: 1px solid rgba(0,0,0,.075);
	}

	.page_title h4{
	    margin-top: 12px;
	    margin-left: 0.5em;
	}

	.slide_page > .slide_header h5{
	    margin-top: 2rem;
	    margin-bottom: -2.5rem;
	    line-height: 2.0rem;
	    font-weight: 500;
	    font-size: 1.00em;
	    word-break: keep-all;
	}

	.slide_header{
	    margin-top: -0.5em;
	}

	.slide_header_hr{
		margin-top: 15px;
	}

	.form-group .control-label{
	    margin-top: 0.5em;
	}

    .slide_body_hr{
	    margin-top: -0.5em;
	    margin-bottom: -0.5em;
    }

	.house{
	    margin-top: -10px;
	    margin-bottom: 15px;
	}

	.family{
	    margin-top: -10px;
	    margin-bottom: -5px;	
	}

	.apt{
	    margin-top: -0.2em;
	}
}

/*@media only screen and (min-width: 400px) and (max-width: 480px) {*/
@media only screen and (min-width: 400px) and (max-width: 599px) {
	.page_frame{
	    background-color: #ffffff;
	    margin-top: 3.0rem;
	    box-shadow: 0 8px 13px rgba(0,0,0,0.12), 0 0px 20px rgba(0,0,0,0.24);
	    padding-top: 1.5em;
	    padding-bottom: 1.5em;
	}

	.page_frame h3{
        padding-top: 0.5em;
	}

	.page_title{
        height: 42px;
	    color: white;
	    background-color: #1c8e21;
	    margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-radius: 0px;
  	  	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	    border: 1px solid rgba(0,0,0,.075);
	}

	.page_title h4{
	    margin-top: 12px;
	    margin-left: 0.5em;
	}

	.slide_page > .slide_header h5{
	    margin-top: 2em;
	    margin-bottom: -1.5em;
	    line-height: 1.3em;
	    font-weight: 400;
	    font-size: 1.00em;
	    word-break: keep-all;
	}

	.slide_header{
	    margin-top: -0.5em;
	}

	.slide_header_hr{
		margin-top: 15px;
	}

	.form-group .control-label{
	    margin-top: 0.5em;
	}

	.form-horizontal hr{
    }

    .slide_body_hr{
	    margin-top: -0.5em;
	    margin-bottom: -0.5em;
    }

	.house{
	    margin-top: -10px;
	    margin-bottom: 15px;
	}

	.family{
	    margin-top: -10px;
	    margin-bottom: -5px;	
	}
}