body{
	background-color: #f1f1f1;
	font-family: 'Nanum Gothic', serif;
}

.navbar{
	display: none;
}

.change a{
	text-decoration:none;
	color: black;
}

.memform{
    position: absolute;
    left: 50%;
    top: 41%;
    transform: translate(-50%, -50%);
}

footer{
    background-color: white;
}

#contact{
	padding-top: 3rem;
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
	.memform{
	    background-color: white;
	    /*margin-top: 3.5rem;*/
	    border-radius: 0px;
	    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 2px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 2px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px,rgba(0,0,0,0.09804) 0px 1px 1px 0px;
	}

	.servicelogo{
	    margin-top: 3rem;
	    margin-bottom: 1rem;
	}

	.servicelogo{
	    margin-top: 2rem;
	    margin-bottom: 0.5rem;
	    padding-left: 12rem;
	    margin-left: 3.5rem;
	}

	/**	 login-tabs style  **/ 
	.nav-tabs.nav-justified{
	  border-bottom: 1px solid #ddd;
	  position: relative;
	  text-align:center;
	}

	.nav-tabs.nav-justified li {
	    position: initial;
	    display: inline-block;
	    zoom: 1;
	    width: 45%;
	    border-bottom: 0px;
	    margin-bottom: -6px;
	}

	.nav-tabs.nav-justified li a {
		position: initial;
		border-bottom: 0px;
		background: transparent;
		border: none;
		color: gray;
	}

	.nav-tabs.nav-justified> li.active > a,
	.nav-tabs.nav-justified> li.active > a:active,
	.nav-tabs.nav-justified> li.active > a:focus,
	.nav-tabs.nav-justified> li.active > a:hover{
		border: 0px;
		border-width: 0;
	    border-radius: 0;
		color: black;
		font-weight: bold;
		font-size: 1.3em;
		border-bottom: 1px solid black;
	}

	.nav-tabs > li > a:hover {
		background: transparent;
	}	

	/**	 login-input-tag style  **/ 
	.form-group h4{
		margin-top: 1.0em;
        margin-bottom: 0.3em;
	    padding-left: 1px;		
	}

	#usermebersPw{
		margin-bottom: 0.3em;
	}

	.rechk{
	    line-height: 2.5em;
	    margin-top: 0em;
	}

	#btnLogin{
	    margin-left: 3rem;
	}

	.checkbox input[type=checkbox]{
		margin-top: 10px;
	}

	#home hr{
	    margin-top: 1rem;
	    margin-bottom: 2.0rem;
	    width: 94%;
	}

	/**	 login-button style  **/ 
	.btn-login ,.btn-register{
	    border-radius: 1px;
	}

	#home .fa{
		font-size: 1.2em;
		padding-right: 1.2em;
		border-right: 1px solid white;
		line-height: 1.4em;
		padding-left: 0.5em;
	}

	.btn-self{
	    padding-right: 3em;
	    background-color: rgba(0,0,0,.5);
	    margin-right: -1em;
	}
    
	.fa-at{
		padding-right: 1em;
		margin-right: 2.0em;
	}

	.btn-facebook{
	    margin-right: 9em;
	}

	.fa-facebook-f ,.fa-google{
	    padding-right: 1em;
	    margin-right: 1em;		
	}

	.change{
	    margin-top: 1.5rem;
	    font-size: 1.2em;
	}

	.btn-register{
	    margin-top: 2.0em;
	}

	/** Registraion tab style **/
	#menu1 input{
        margin-top: 1.3em;
	}

	#menu1 input:nth-child(1){
        margin-top: 2.5em;
	}

	#menu1 hr{
	    margin-top: 0em;
	    margin-bottom: 0.0em;
	    width: 93%;
	}
}



/* Tablet Device (col-sm | col-md) 768 | 800 */
@media only screen and (min-width:768px) and (max-width:991px) {
	.memform {
	    background-color: white;
	    /*margin-top: 6.5rem;*/
	    border-radius: 5px;
	    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 2px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 2px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px,rgba(0,0,0,0.09804) 0px 1px 1px 0px;
	}

	.servicelogo{
	    margin-top: 2.0em;
	    margin-bottom: 2.0em;
	    padding-left: 1em;
	}

	/**	 login-tabs style  **/ 
	.nav-tabs.nav-justified{
	  border-bottom: 1px solid #ddd;
	  position: relative;
	  text-align:center;
	}

	.nav-tabs.nav-justified li {
		margin-bottom: none;
		position: initial;
		border-bottom: 0px;
		display:inline-block;
		*display:inline; /* ie7 fix */
		zoom:1; /* hasLayout ie7 trigger */
		width: 45%;
	}

	.nav-tabs.nav-justified li a {
		position: initial;
		border-bottom: 0px;
		background: transparent;
		border: none;
		color: gray;
	}

	.nav-tabs.nav-justified> li.active > a,
	.nav-tabs.nav-justified> li.active > a:active,
	.nav-tabs.nav-justified> li.active > a:focus,
	.nav-tabs.nav-justified> li.active > a:hover{
		border-width: 0;
		border: 0px;
		color: black;
		font-weight: bold;
		border-bottom: 1px solid black;
		font-size: 1.3em;
	}

	.nav-tabs > li > a:hover {
		background: transparent;
	}	

	/**	 login-input-tag style  **/ 
	.form-group h4{
		margin-top: 1.0em;
        margin-bottom: 0.3em;
	    padding-left: 1px;		
	}

	#usermebersPw{
		margin-bottom: 0.3em;
	}

	.rechk {
	    margin-top: 0.5em;
	    margin-left: 0.0em;
	}

	.checkbox input[type=checkbox]{
	    margin-top: 3px;
	}

	#home hr{
	    margin-top: 1.0em;
	    margin-bottom: 1.5em;
	    width: 94%;
	}

	#btnLogin{
	    margin-left: 1rem;
	}

	/**	 login-button style  **/ 
	#btn-login, .btn-register{
	    border-radius: 2px;
	}


	.btn-facebook{
	    margin-right: 5rem;
	}

	.btnLogin{
	    margin-top: -1.0em;
	}

	#home .fa{
	  color: white;
	  margin-right: 0.5em;
	  font-size: 1.2em;
	  padding-right: 0.7em;
	  border-right: 1px solid white;
	}

	.btn-self{
	    padding-right: 1em;
	    background-color: rgba(0,0,0,.5);
	    margin-right: -2em;
	}

	.fa-at{
		padding-right: 0.5em;
	}

	.btn-google{
	  background-color: #e15f4f;
	}

	.change {
	    margin-top: 1.5rem;
	    font-size: 1.6rem;
	}

	/** Registraion tab style **/
	#menu1 input{
        margin-top: 1.3em;
	}

	#menu1 input:nth-child(1){
	    margin-top: 2.0em;
	}

	#registerConfirm{
		margin-top: 2em;
	}

	.btn-register{
		margin-top: 1.5em;
	}

	#menu1 hr{
	    width: 90%;
	    margin-top: 0em;
	    margin-bottom: 0em;
	}
}


/* desktops (col-md) 1024 =< || */
@media (min-width : 992px) and (max-width: 1199px) {
	.memform{
		background-color: white;
	    height: 36em;
	    /*margin-top: 4.5em;*/
	    margin-bottom: 5rem;
	    border-radius: 5px;
	    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 2px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 2px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px,rgba(0,0,0,0.09804) 0px 1px 1px 0px;
    
	}

	.servicelogo{
	    margin-top: 3rem;
	    margin-bottom: 1.5rem;
	}

	/**	 login-tabs style  **/ 
	.nav-tabs.nav-justified{
	  border-bottom: 1px solid #ddd;
	  position: relative;
	  text-align:center;
	}

	.nav-tabs.nav-justified li {
		margin-bottom: none;
		position: initial;
		border-bottom: 0px;
		display:inline-block;
		*display:inline; /* ie7 fix */
		zoom:1; /* hasLayout ie7 trigger */
		width: 45%;
	}

	.nav-tabs.nav-justified li a {
		position: initial;
		border-bottom: 0px;
		background: transparent;
		border: none;
		color: gray;
	}

	.nav-tabs.nav-justified> li.active > a,
	.nav-tabs.nav-justified> li.active > a:active,
	.nav-tabs.nav-justified> li.active > a:focus,
	.nav-tabs.nav-justified> li.active > a:hover{
		border-width: 0;
		border: 0px;
		color: black;
		font-weight: bold;
		border-bottom: 1px solid black;
		font-size: 1.3em;
	}

	.nav-tabs > li > a:hover {
		background: transparent;
	}	

	/**	 login-input-tag style  **/ 
	.form-group h4{
		margin-top: 1.0em;
        margin-bottom: 0.3em;
	    padding-left: 1px;		
	}

	#usermebersEmail{
		margin-bottom: 0.3em;
	}

	#usermebersPw{
		margin-bottom: 0.3em;
	}

	.rechk{
		margin-top: 0.5em;
	}

	.checkbox input[type=checkbox] {
	    margin-top: 3px;
	}

	#home hr{
	    margin-top: 1.0em;
	    margin-bottom: 1.5em;
	}
	
	/**	 login-button style  **/ 
	#btnLogin{
		margin-left: 1rem;
	}

	#home .fa{
	    color: white;
	    margin-right: 1.0rem;
	    padding-right: 1.0rem;
	    border-right: 1px solid white;
	    line-height: 1.5em;
	}

	.btn-facebook{
	    /*margin-right: 6rem;*/
        margin-right: 2.0rem;
	}

	.btn-self{
		padding-right: 1em;
		background-color: rgba(0,0,0,.5);
	    margin-right: 0em;
	}
    
	.fa-at{
		padding-right: 0.5em;
	}

	.change {
	    margin-top: 1.7rem;
	    font-size: 1.7rem;
	}

	/** Registraion tab style **/
	#menu1 input{
        margin-top: 1.0em;
	}

	#menu1 input:nth-child(1){
        margin-top: 2.0rem;
	}

	.btn-register{
		font-size: 1.1em;
	    margin-top: 1.0em;
	}

	#menu1 hr{
	    width: 74%;
	    margin-top: 0.5rem;
	    margin-bottom: 0.5rem;
	}

	/**	 page-bottom style  **/ 
	footer{
		padding-bottom: 1rem;
	}
}
	

/* Desktops and laptops (col-lg) */
@media (min-width: 1200px) and (max-width: 1299px) {
	.memform{
	    background-color: white;
	    height: 36em;
	    border-radius: 5px;
	    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 2px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 2px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px,rgba(0,0,0,0.09804) 0px 1px 1px 0px;
	}

	.servicelogo{
	    margin-top: 2.0em;
	    margin-bottom: 1.0em;
	}

	/**	 login-tabs style  **/ 
	.nav-tabs.nav-justified{
	  border-bottom: 1px solid #ddd;
	  position: relative;
	  text-align:center;
	}

	.nav-tabs.nav-justified li {
		margin-bottom: none;
		position: initial;
		border-bottom: 0px;
		display:inline-block;
		*display:inline; /* ie7 fix */
		zoom:1; /* hasLayout ie7 trigger */
		width: 45%;
	}

	.nav-tabs.nav-justified li a {
		position: initial;
		border-bottom: 0px;
		background: transparent;
		border: none;
		color: gray;
	}

	.nav-tabs.nav-justified> li.active > a,
	.nav-tabs.nav-justified> li.active > a:active,
	.nav-tabs.nav-justified> li.active > a:focus,
	.nav-tabs.nav-justified> li.active > a:hover{
		border-width: 0;
		border: 0px;
		color: black;
		font-weight: bold;
		border-bottom: 1px solid black;
		font-size: 1.3em;
	}

	.nav-tabs > li > a:hover {
		background: transparent;
	}

	#home hr{
	    margin-top: 1.0em;
	    margin-bottom: 1.5em;
	    width: 92%;
	}

	/**	 login-input-tag style  **/ 
	#home{
		margin-top: 1em;
	}

	.form-group h4{
	    margin-top: 1em;
	    padding-bottom: 0.2em;
	    margin-bottom: 0.3em;
	    padding-left: 7px;	
	}

	#usermebersPw{
		margin-bottom: 0.3em;
	}

	.rechk{
	}

	#btnLogin{
		border-radius: 2px;
	}

	#home .fa{
	  color: white;
	  margin-right: 0.5em;
	  font-size: 1.2em;
	  padding-right: 0.7em;
	  border-right: 1px solid white;
	}

	.btn-facebook{
		border-radius: 2px;
	}
	
	.btn-google{
		border-radius: 2px;
	}

	.change{
	    margin-top: 1.5rem;
	    font-size: 1.1em;
	}

	/** Registraion tab style **/
	#menu1 input{
	    margin-top: 1.5rem;
	}

	#menu1 hr{
	    width: 92%;
	    margin-top: 1.5em;
	    margin-bottom: -0em;
	}

	.btn-register{
		margin-top: 1.5em;
		margin-bottom: -1.5em;
		border-radius: 2px;
	}

	.social_loginbtn{
		word-break: keep-all;
	}
}

/* Desktops and laptops (col-lg) */
/*@media only screen and (min-width:1201px) and (max-width:991px) {*/
@media (min-width: 1300px) {
	.memform{
	    background-color: white;
	    /*margin-top: 4.5rem;*/
	    border-radius: 5px;
	    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 2px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 2px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px,rgba(0,0,0,0.09804) 0px 1px 1px 0px;
	}

	.servicelogo{
	    margin-top: 2.0em;
	    margin-bottom: 1.0em;
	    padding-left: 1em;
	}

	/**	 login-tabs style  **/ 
	.nav-tabs.nav-justified{
	  border-bottom: 1px solid #ddd;
	  position: relative;
	  text-align:center;
	}

	.nav-tabs.nav-justified li {
		margin-bottom: none;
		position: initial;
		border-bottom: 0px;
		display:inline-block;
		*display:inline; /* ie7 fix */
		zoom:1; /* hasLayout ie7 trigger */
		width: 45%;
	}

	.nav-tabs.nav-justified li a {
		position: initial;
		border-bottom: 0px;
		background: transparent;
		border: none;
		color: gray;
	}

	.nav-tabs.nav-justified> li.active > a,
	.nav-tabs.nav-justified> li.active > a:active,
	.nav-tabs.nav-justified> li.active > a:focus,
	.nav-tabs.nav-justified> li.active > a:hover{
		border-width: 0;
		border: 0px;
		color: black;
		font-weight: bold;
		border-bottom: 1px solid black;
		font-size: 1.3em;
	}

	.nav-tabs > li > a:hover {
		background: transparent;
	}	

	/**	 login-input-tag style  **/ 
	.form-group h4{
	    margin-top: 1.0em;
	    margin-bottom: 0.5em;
	    padding-left: 7px;
	}

	#usermebersEmail{
		margin-bottom: 1.5em;
	}

	#usermebersPw{
		margin-bottom: 0.3em;
	}

	.rechk{
	}

	.btn-self{
		padding-right: 1em;
		background-color: rgba(0,0,0,.5);
	    margin-top: 0.5em;
	}

	#btnLogin{
	    border-radius: 2px;
	}

	#home hr{
	    margin-top: 1.0em;
	    margin-bottom: 1.5em;
	    width: 92%;
	}

	.fa-at{
		padding-right: 0.5em;
	}

	.btn-facebook{
	    border-radius: 2px;
        margin-right: 3.5em;
	}

	.btn-google{
		border-radius: 2px;
	}

	/**	 login-button style  **/ 
	#btn-login ,.btn-register{
	    border-radius: 2px;
	}

	#home .fa{
	  color: white;
	  margin-right: 0.5em;
	  font-size: 1.2em;
	  padding-right: 0.7em;
	  border-right: 1px solid white;
	}

	.social_loginbtn{
		text-align: center;
		font-size: 1.2em;
		word-break: keep-all;
	}

	.change{
	    margin-top: 1rem;
	    font-size: 1.2em;
	}

	/** Registraion tab style **/
	#menu1 input{
        margin-top: 1.5em;
	}

	#menu1 input:nth-child(1){
	    margin-top: 2.0em;
	}

	#menu1 hr{
	    width: 92%;
	    margin-top: 0.0em;
	    margin-bottom: 0em;
	}

	.btn-register{
	    margin-top: 1.5em;	
	}

	#registerConfirm{
		margin-bottom: 1em;
	}
}